[Unit]
Description=HAProxy instance managed by Tunnel Panel
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/haproxy -Ws -f /etc/haproxy/tunnel-panel.cfg -p /run/tunnel-panel-haproxy.pid
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target

